<app-header></app-header>
<div class="container grid grid-cols-12 py-10">
  <table class="w-10/12 text-left rounded-lg col-span-12 mx-auto">
    <thead>
      <tr class="text-gray-800 border border-b-0">
        <th class="px-4 py-3">No</th>
        <th class="px-4 py-3">Name</th>
        <th class="px-4 py-3">Email</th>
        <th class="px-4 py-3">Actions</th>
      </tr>
    </thead>
    <tbody *ngIf="(users$ | async) as userdata">
      <tr class="w-full font-light text-gray-700 bg-gray-100 whitespace-no-wrap border"
      *ngFor="let user of userdata ; let i = index">
        <td class="px-4 py-4">{{i+1}}</td>
        <td class="px-4 py-4">{{user.name}}</td>
        <td class="px-4 py-4">{{user.email}}</td>
        <td class="py-4">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-3" (click)="editUser(user._id)">
            Edit
          </button>
          <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" (click)="deleteUser(user._id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>